html {
    scroll-behavior: smooth;
}
body {
    margin: 20px ;
    padding: 0%;
    background-color: var(--first-color);
    text-align: center;
}

#load-logo {
    position: absolute;
    top: 34%;
    left: 38%;
    height: 250px;
    width: auto;
}

.invert {
    filter: invert(100%);
}

.icons {
    text-align: center;
    font-size: 30px;
    margin-left: 0%;
    margin-right: 20px;
}

.star-icon {
    color: var(--second-color);
    padding: 12px;
}

.star-icon:hover {
    color: var(--third-color);
}

.home-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
}

.home-icon:hover {
    color: var(--third-color);
}

.portfolio-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
}

.portfolio-icon:hover {
    color: var(--third-color);
}

.lide h3 {
    font-size: 50px;
    text-align: center;
    font-family: var(--first-font);
    color: var(--second-color);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.fotka1 {
    padding: 20px;
}

.fotka1 img {
    height: 300px;
    width: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--fourth-color) ;
}

.fotka1 img:hover {
    border-color: var(--third-color);
    transition: 200ms;
}

.fotka1 p {
    font-family: var(--second-font);
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--fourth-color);
}

.fotka1 p:hover {
    color: var(--second-color);
}

.fotka2 {
    padding: 20px;
}

.fotka2 img {
    height: 300px;
    width: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--fourth-color) ;
}

.fotka2 img:hover {
    border-color: var(--third-color);
    transition: 200ms;
}

.fotka2 p {
    font-family: var(--second-font);
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--fourth-color);
}

.fotka2 p:hover {
    color: var(--second-color);
}

.fotka3 {
    padding: 20px;
}

.fotka3 img {
    height: 300px;
    width: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--fourth-color) ;
}

.fotka3 img:hover {
    border-color: var(--third-color);
    transition: 200ms;
}

.fotka3 p {
    font-family: var(--second-font);
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--fourth-color);
}

.fotka3 p:hover {
    color: var(--second-color);
}

.fotka4 {
    padding: 20px;
}

.fotka4 img {
    height: 300px;
    width: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--fourth-color) ;
}

.fotka4 img:hover {
    border-color: var(--third-color);
    transition: 200ms;
}

.fotka4 p {
    font-family: var(--second-font);
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--fourth-color);
}

.fotka4 p:hover {
    color: var(--second-color);
}